<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Page</h1>

    <div>
        <p>Things to know about Santa:</p>
        <ol>
            <li>Born on year 0.</li>
            <li>Has a nice and naughty list.</li>
            <li>Lives in the North Pole.</li>
        </ol>
    </div>

    <a href="/Home">Home Page</a>
    <a href="/Works">Works Page</a>
    <a href="/photoGallery">Photo Gallery Page</a>
</body>
</html>