<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Works Page</h1>
        <ul>
            <li>Delivers presents every 25th of December.</li>
            <li>Spends all year getting gifts ready.</li>
            <li>Eats more cookies and milk than anyone.</li>
        </ul>
    <a href="/Home">Home Page</a>
    <a href="/About">About Page</a>
    <a href="/photoGallery">Photo Gallery Page</a>
</body>
</html>